export DB_HOST=47.97.184.56
export DB_USER=root
export DB_PASS=123456
export DB_PORT=3306
export SECRET_FLAG=1
export REDIS_HOST=47.97.184.56
export REDIS_PASS=ywkd360123
export REDIS_PORT=6379
export ALI_APPID=2018030802335962
export ALIPAY_PUBLIC_KEY_PATH=/data/website/wechat_server/source/alipay_server/rsa/app_preview_public_key.pem
export APP_PRIVATE_KEY_PATH=/data/website/wechat_server/source/alipay_server/rsa/app_preview_private_key.pem
export WX_APPID=wxc652b2eb9b939e2f
export WX_APPSECRET=5b8d93f40b15dabd451c496edb278501
export WX_TOKEN=0c57339e281d11e881b44c32758bd0f1
export ENCODINGAESKEY=GIxoYf4CZnEq2zNKQgED17Tl2tv9gxBf3evWiRXbbyH
export URL=https://pre.bjywkd.com/ucenter/user
export REDIRECT_URL=https://pre.bjywkd.com/wechat-server/ali-pay/auth-middle/{}
export WECHAT_REDIRECT_URL=https://pre.bjywkd.com/wechat-server/web-auth-middle/{}
export TOKEN_URL=https://pre.bjywkd.com/weichat/secret
export VONCHER_URL=https://pre.bjywkd.com/webpay/voucher
export ORDER_URL=https://pre.bjywkd.com/webpay/order
export DEBUG=True
export ALI_ORDER_AUTH_PAGE=https://pre.bjywkd.com/wechat-server/ali-pay/user-auth?type=2
export ALI_CARD_AUTH_PAGE=https://pre.bjywkd.com/wechat-server/ali-pay/user-auth?type=1
export ACTIVITIES_URL=https://pre.bjywkd.com/order/user/activities/search
export CARD_WX_USER_URL=https://pre.bjywkd.com/operation/user/
export KTV_INFO_URL=https://pre.bjywkd.com/ktv/order/ktvinfo
export DOMAIN=https://pre.bjywkd.com
export ENV=pre
