cent==2.1.0
Django==3.1.6
ipython==6.0.0
redis==2.10.5
requests==2.18.4
xlwt==1.2.0
django-cors-headers==3.2.1
xmltodict==0.11.0
djangorestframework==3.11.0
django_excel
pyexcel-xlsx
pycrypto==2.6.1
urllib3==1.22
uwsgi==2.0.15
python-alipay-sdk==1.5.1
uuid==1.30
anyjson==0.3.3
celery==4.4.2
django-log-request-id==1.3.2
gnsq==1.0.1
PyJWT==1.6.4
sqlparse==0.3.0
mysqlclient==1.4.6
pillow==6.2.1
pingpp==2.7.2
rest-pandas==1.1.0
django-filters==0.2.1
django-filter==2.2.0
wechatpy==1.7.6
django_redis==4.11.0
ywkd-tools==1.0.16
drf-extensions==0.5.0
lazy-property==0.0.1


